
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
  }
  
  header {
    background-color: #333;
    color: white;
    padding: 10px 0;
    text-align: center;
  }
  
  header h1 {
    margin: 0;
  }
  
  nav ul {
    list-style-type: none;
    padding: 0;
  }
  
  nav ul li {
    display: inline;
    margin-right: 15px;
  }
  
  nav ul li a {
    color: white;
    text-decoration: none;
  }
  
  button {
    padding: 10px 15px;
    margin-top: 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  main {
    padding: 20px;
  }
  
  section {
    margin-bottom: 40px;
  }
  
  .filters {
    margin-bottom: 15px;
  }
  
  .filter-btn {
    padding: 8px 15px;
    background-color: #28a745;
    color: white;
    border: none;
    cursor: pointer;
    margin-right: 10px;
  }
  
  .filter-btn:hover {
    background-color: #218838;
  }
  
  .project {
    list-style-type: none;
    margin-bottom: 15px;
  }
  
  .project a {
    color: #007bff;
    text-decoration: none;
  }
  
  .project a:hover {
    text-decoration: underline;
  }
  
  
  .dark-mode {
    background-color: #333;
    color: white;
  }
  
  .dark-mode header {
    background-color: #444;
  }
  
  .dark-mode button {
    background-color: #555;
  }
  
  .dark-mode button:hover {
    background-color: #666;
  }
  